<div class="menuhead">
    <!-- navbar -->
  <nav class="navbar navbar-expand-lg " appCouleurfond>
    <div class="container-fluid" id="imagrelogo" >
      <a class="navbar-brand" href="#">
        <img src="assets/image/logonote.png" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
        <ul class="navbar-nav col-10 justify-content-center" >
          <li class="nav-item">
            <a class="nav-link  text-white fw-bold" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  text-white fw-bold" href="#">Note</a>
          </li>
          <li class="nav-item">
            <a class="nav-link   text-white fw-bold" href="#">Apprenant</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  text-white fw-bold" href="#">Evalution</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  text-white fw-bold" href="#">Classe</a>
          </li>
        </ul>
        <div class="profil d-flex justify-content-end col-2  text-white fw-bold">
          <p>professeur <i class="bi bi-person-circle" style="font-size: 20px;"></i></p>
         </div>

      </div>
    </div>
  </nav>
  <!-- fin navbae -->

  <!-- recherche -->
  <div class="barreRecheche mt-3 ">
    <div class="container d-flex justify-content-evenly">
    <div class="col-4" >
        <!-- moadal -->
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Programme une evaluation
        </button>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header " id="headModal">
                <h1 class="modal-title fs-5 " id="staticBackdropLabel">Programmer une evaluattion</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body bg-body-secondary">
                      <div class="mb-3">
                        <label for="semestre" class="form-label">semestre de l'évaluation</label>
                        <select class="form-select" id="semestre" name="semestre" [(ngModel)]="addProf.semestre"    required>
                            <option selected disabled value="">Choisis le semestre  d'évaluation</option>
                            <option>Semestre1</option>
                            <option>Semestre 2</option>
                            <option>Semestre 3</option>
                            <option>Semestre 4</option>
                          </select>
                    </div>
                     <div class="mb-3">
                      <label for="type" class="form-label">Type de l'évaluation</label>
                      <select class="form-select" id="type" name="type" [(ngModel)]="addProf.type"    required>
                          <option selected disabled value="">Choisis le type  d'évaluation</option>
                          <option>Devoir</option>
                          <option>Examen</option>
                          <option>Autres</option>
                        </select>
                  </div>
                     <div class="mb-3">
                        <label for="matiere" class="form-label">Matiere</label>
                        <select class="form-select" id="matiere" [(ngModel)]="addProf.matiere"   required>
                          <option selected disabled value="">Choisissez la matière</option>
                          <option>Anglais</option>
                          <option>Analyse</option>
                          <option>Algèbre</option>
                          <option>Biologie</option>
                          <option>Chimiee</option>
                        </select>
                      </div>

                    <div class="mb-3">
                        <label for="date" class="form-label">Mettez la date de l'évaluation</label>
                        <input type="date" class="form-control" id="date" name="date" [(ngModel)]="addProf.date" >
                     </div>
                    <div class="mb-3">
                        <label for="etat" class="form-label">etat</label>
                        <select class="form-select" id="etat"  [(ngModel)]="addProf.etat"required >
                          <option selected disabled value="">Choisissez la etat</option>
                          <option>A Faire</option>
                          <option>Encours</option>
                          <option>Terminer</option>

                        </select>
                      </div>
                    <div class="mb-3">
                        <label for="niveau" class="form-label">Classe</label>
                        <select class="form-select" id="niveau"  [(ngModel)]="addProf.niveau"required >
                          <option selected disabled value="">Choisissez la Classe</option>
                          <option>Licence 1</option>
                          <option>Licence 2</option>
                          <option>Licence 3</option>
                          <option>Master 1</option>
                          <option>Master 2</option>
                        </select>
                      </div>
                      <div class="mb-3">
                        <label for="professeur" class="form-label">Mettez la professeur de l'évaluation</label>
                        <input type="professeur" class="form-control" id="professeur" name="professeur" [(ngModel)]="addProf.professeur" >
                     </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-primary" (click)="addEvaluation()">Enregistrer</button>
                </div>
            </div>
            </div>
        </div>
                <!-- moadal -->


    </div>


    <!-- Modal -->
            <form class="col-8 navbar-search">
                <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="rechercher une evaluation" 
                        aria-label="Search" aria-describedby="basic-addon2" [(ngModel)] = "filterValue" (input)="onSearch()">
                    <div class="input-group-append">
                        <button class="btn " type="button" appCouleurfond>
                            <i class="bi bi-search" style="color :white;  "></i>
                        </button>
                    </div>
                </div>
            </form>
    </div>
  </div>

  <!-- fin recherchebar -->

  
  
      <div class="container shadow mt-5  " >
         <!-- carte bouclé -->
         <div class=" row  gap-3 rowEval px-3 py-3">
              <div class="card col-4  "  *ngFor="let evalue of Evaluation" >
                <img src="https://imgs.search.brave.com/Vynh36NilhgQwpozWG56qEecEZo1D3CHp4_It31VeDw/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9taXJv/Lm1lZGl1bS5jb20v/djIvMSphQ3NubTl2/aWlMNUZvMEpDLUlf/ZXhRLnBuZw" class="card-img-top" alt="...">
                <div class="card-body bg-body-tertiary " >
                  <h3 class="card-title text-center " style="border: 4px solid #457a7469;">Evaluation à venir</h3>
                    
                    <ul style="list-style: none; font-size: 18px; font-weight: 700;">
                      <li class="card-title"> Semestre:{{evalue.semestre}}</li>
                      <li class="card-title"> Type:{{evalue.type}}</li>
                      <li class="card-title">Matiere:{{evalue.matiere}}</li>
                      <li class="card-title">Date :{{evalue.date}}</li>
                      <li class="card-title">l'état :{{evalue.etat}}</li>
                      <li class="card-title"> Classe :{{evalue.classe}}</li>
                      <li class="card-title"> Professeur:{{evalue.professeur}}</li>
                    </ul>
                  
                        <!-- Button trigger modal -->
                   <div class="mb-3 d-flex gap-5 ">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                          Liste Classe
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" >
                          Attribuer  note
                        </button>
                   </div>
                </div>
            </div>
            </div>
          </div>


  


   

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content ">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Liste de la classe</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
              <div class="modal-body">
                <ul>
                      <li>Amadou Diop</li>
                      <li>Fatou  Sall</li>
                      <li>Gorgui  Fall</li>
                      <li>Lobe Dia</li>
                      <li>Amadou Diop</li>
                      <li>Amadou Diop</li>
                      <li>Amadou Diop</li>
                      <li>Amadou Diop</li>
                      <li>Amadou Diop</li>
                  
                </ul>
              </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">fermer</button>
            <!-- <button type="button" class="btn btn-primary">Enregistrer</button> -->
          </div>
        </div>
      </div>
    </div>