<app-header-dasboard></app-header-dasboard>
<div class="Container">
  <div class="Container_Card">
    <div class="Container_Card mt-5">
      <div class="Card1">
        <div class="cardbx1">
          <i class='bx bxs-contact'></i>
          <div>
            <p class="text-center">Contact</p>
            <h3 class="text-center"></h3>
          </div>
        </div>
      </div>
      <div class="Card1">
        <div class="cardbx">
          <i class='bx bx-trash'></i>
          <div>
            <p class="text-center">Corbeille</p>
            <h3 class="text-center">0</h3>
          </div>
        </div>
      </div>
      <div class="Card1">
        <div class="cardbx2">
          <i class='bx bxs-contact'></i>
          <div>
            <p class="text-center">User</p>
            <h3 class="text-center"></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
